@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
}

*:not(h1, h2, h3, h4, h5, h6) {
  font-family:'Raleway', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mulish', sans-serif;
}

